<div class="requests-content">
    <h2>Requests</h2>
    <% if (requests && requests.length > 0) { %>
        <table>
            <thead>
            <tr>
                <th>Request ID</th>
                <th>School Name</th>
                <th>Contact Name</th>
                <th>Contact Email</th>
                <th>Contact Phone</th>
                <th>Phone Type</th>
                <th>Best Contact Times</th>
                <th>Status</th>
                <th>Communication</th>
                <th>Created At</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% requests.forEach(request => { %>
                <tr>
                    <td><%= request.rid %></td>
                    <td><%= request.rcontactname %></td>
                    <td><%= request.rcontactemail %></td>
                    <td><%= request.rcontactphone %></td>
                    <td><%= request.rcontactptype %></td>
                    <td><%= request.rcontactbesttimes %></td>
                    <td><%= request.rcommunication %></td>
                    <td><%= new Date(request.created_at).toLocaleString() %></td>
                    <td>
                        <a href="/admin/requests/edit/<%= request.rid %>" class="button link">Edit</a>
                        <button class="button link delete-request" data-id="<%= request.rid %>">Delete</button>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No requests available.</p>
    <% } %>
</div>