<link rel="stylesheet" href="/css/users/view.css" />
<div class="users-table-component">
    <div class="content">
        <section class="main-header grid">
            <h1>Funding Sources</h1>
            <button class="button" onclick="location.href='/admin/fundings/add'">
                <i class="fa-solid fa-plus"></i>
                <span>Add new funding source</span>
            </button>
        </section>

        <section class="table-header grid">
            <div>
                <div class="select">
                    <select id="bulk-action">
                        <option value="">Choose action</option>
                        <option value="delete">Delete selected</option>
                        <option value="export">Export selected</option>
                    </select>
                </div>
                <span>Selected <span id="selected-count">0</span> of <span id="total-count"><%= fundings.length %></span> items</span>
            </div>

            <a class="button link" id="toggle-filters">
                <span>Filters</span>
                <i class="fa-solid fa-angle-down"></i>
            </a>
        </section>

        <div class="card">
            <table>
                <thead>
                <tr>
                    <th>
                        <div class="checkbox">
                            <input type="checkbox" id="select-all" />
                            <span class="checkmark"></span>
                        </div>
                    </th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Date Created</th>
                    <th>Date Modified</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody id="funding-table-body">
                <% fundings.forEach(funding => { %>
                    <tr data-id="<%= funding.fid %>">
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" class="funding-select" />
                                <span class="checkmark"></span>
                            </div>
                        </td>
                        <td><%= funding.fid %></td>
                        <td><%= funding.fname %></td>
                        <td><%= new Date(funding.created_at).toLocaleString() %></td>
                        <td><%= new Date(funding.updated_at).toLocaleString() %></td>
                        <td>
                            <a href="/admin/fundings/edit/<%= funding.fid %>" class="button link">Edit</a>
                            <button class="button link delete-funding" data-id="<%= funding.fid %>">Delete</button>
                        </td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>

        <section class="table-footer grid">
            <span>Displaying <%= fundings.length %> items</span>
            <div class="paging grid">
                <span>
                    Page
                    <input type="number" id="current-page" value="1" min="1">
                    of <span id="total-pages">1</span>
                </span>
                <div class="button icon" id="prev-page">
                    <i class="fa-solid fa-angle-left"></i>
                </div>
                <div class="button icon" id="next-page">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </section>
    </div>
</div>
